/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

/*chat-room containers*/

.chat-room .p-panel-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92%;
}

.chat-room .p-panel-content-container, 
.chat-room .p-panel-content {
    flex-grow: 1;
}

.chat-room .p-panel-header {
    height: 8%;
}

.p-panel-content {
    height: 100%;
}

.chat-room .p-panel {
    background: var(--bs-gray-200);
}

.card.users-list, .messages-container {
    border: 1px solid var(--p-form-field-border-color);
}

/*Scroll bar*/

.overflow-auto::-webkit-scrollbar,
.p-datatable-table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.overflow-auto::-webkit-scrollbar-thumb,
.p-datatable-table-container::-webkit-scrollbar-thumb {
    background: #a3facd;
    border-radius: 4px;
}

.overflow-auto::-webkit-scrollbar-thumb:hover,
.p-datatable-table-container::-webkit-scrollbar-thumb:hover {
    background: #6ee7b7;
}

.overflow-auto::-webkit-scrollbar-thumb:active,
.p-datatable-table-container::-webkit-scrollbar-thumb:active {
    background-color: #34d399;
}

/*Users List*/

.users-list .p-datatable,
.users-list .p-datatable-table-container {
    height: 100%;
}

.p-datatable-table-container {
    overflow: auto;
}

.users-list .p-datatable-table tr,
.users-list .p-datatable-table tr > td,
.users-list .p-datatable-table tr > th {
    background: transparent;
}

/* Responsiveness */
/* Following styles will make the app behave well in mobile devices*/


@media screen and (max-width: 767px) {
    .chat-room {
        height: 100vh !important;
    }
    
    .chat-room .chat-room-p-panel {
        border-radius: 0;
    }
    
    .sections-container > section:first-child {
        max-height: 20% !important;
        overflow: auto;
    }

    .sections-container > section:last-child {
        height: 75% !important;
    }
}