:host {
    --message-bg: #daeadf;
    --message-box-shadow: #fff;
}

.messages-container {
    background-color: var(--p-toast-success-background);
}

.chat-avatar {
    min-width: 32px;
}


.from-them {
    align-items: flex-start;
    background-color: var(--message-bg);
    color: #000;
}

[class^="from-"] {
    margin: 1rem 0;
    width: fit-content;
}

.from-them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid var(--message-bg);
    left: -0.35rem;
    transform: translate(0, -0.1rem);
}

.from-them::after {
    background-color: var(--p-toast-success-background);
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
}

.message .from-them::before, .message .from-them::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}

.message [class^="from-"] {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 1rem 1.5rem;
    position: relative;
    word-wrap: break-word;
}