<div class="container-sm h-100 chat-room p-0 pt-md-5 pb-md-5">
    <main class="h-100">
        <p-panel styleClass="h-100 d-flex flex-column justify-content-between chat-room-p-panel">
            <ng-template #header styleClass="p-4">
                <div class="d-flex align-items-center gap-2 ps-1">
                    <h1 class="h2">{{chatService.currentRoom}} chat group</h1>
                </div>
            </ng-template>
            <ng-template #icons>
                <p-button icon="pi pi-times" [rounded]="true" severity="danger" label="Leave" iconPos="right" (onClick)="leaveChat(true)" />
            </ng-template>
            <div class="row h-100 p-3 h-100 sections-container">
                <section class="col-md-4 h-100 p-0 pe-md-3 mb-4 m-md-0">
                    <app-users-list/>
                </section>
                <section class="col-md-8 messages-container p-4 rounded-3 h-100">
                    <app-messages/>
                </section>
            </div>
        </p-panel>
    </main>
</div>

<p-toast />